@media only screen and (max-width: 900px) {
    .catalogue{
        &__inner{
            grid-template-columns: repeat(3, 1fr);
        }
        &__filter{
            &-list{
                margin: 0 10px 0 0;
            }
            &-search{
                width: 160px;
                margin: 0;
            }
            &-view{
                display: none;
            }
        }
    }
    .user{
        padding: 30px 15px;
    }
    .contact{
        padding: 50px 15px;
        &--left, &--right{
            width: 100%;
        }
        &--left{
            padding: 0;
        }
        &__container{
            flex-direction: column;
            justify-content: center;
        }
    }
    .product--detailed{
        & > .wrapper{
            flex-direction: column;
        }
    }
}
@media only screen and (max-width: 700px) {
    .header{
        & .logo{
            margin: 0 0 10px 0;
        }
        &__top{
            height: 100px;
        }
        & .wrapper{
            flex-direction: column;
        }
    }
    .user-panel{
        &__item{
            padding: 0 5px;
        }
    }
    .catalogue{
        &__inner{
            grid-template-columns: repeat(2, 1fr);
        }
        &__filter{
            flex-direction: column;
            &--left{
                margin: 0 0 15px 0;
            }
        }
    }
    .form__row{
        flex-direction: column;
        &--left{
            margin: 0;
        }
    }
    .cart__row{
        flex-direction: column-reverse;
        &--left{
            display: flex;
            justify-content: center;
        }
        &--right{
            margin: 0 0 15px 0;
        }
    }
}
@media only screen and (max-width: 480px) {
    .catalogue{
        &__inner{
            grid-template-columns: 1fr;
        }
        &__filter{
            &--right{
                width: 100%;
            }
            &-search{
                width: 100%;
                margin: 0;
            }
        }
    }
    .contact__inner{
        padding: 25px 20px;
    }
    .profile{
        flex-direction: column;
        &--left, &--right{
            width: 100%;
        }
        &--left{
            margin: 0 0 15px 0;
        }
    }
    .user__tabs-list{
        overflow-x: scroll;
        &__tab{
            font-size: 12px;
            margin: 0 10px 0 0;
        }
    }
}