* {
  margin: 0;
  padding: 0;
  border: transparent;
  outline: transparent;
  box-sizing: border-box;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "egoe UI Emoji", "Segoe UI Symbol"; }

body {
  background-color: #fff; }

a {
  text-decoration: none; }

ol, ul {
  list-style: none; }

textarea {
  resize: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; }

@font-face {
  font-family: "HelveticaMedium";
  src: url("./fonts/HelveticaNeueMedium.woff") format("woff"); }

@font-face {
  font-family: "HelveticaBold";
  src: url("./fonts/HelveticaNeueBold.woff") format("woff"); }

@font-face {
  font-family: "LemonJelly";
  src: url("./fonts/LemonJelly.ttf") format("truetype"); }

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px; }

.fl {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex; }
  .fl_jus_bet {
    justify-content: space-between; }
  .fl_jus_cen {
    justify-content: center; }
  .fl_dir_col {
    flex-direction: column; }
  .fl_center {
    align-items: center;
    justify-content: center; }
  .fl_ali_cen {
    align-items: center; }

.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain; }
  .icon--shopping-cart {
    width: 18px;
    height: 18px;
    background-image: url("./icons/icon-shopping-cart.png"); }
  .icon--search {
    width: 22px;
    height: 20px;
    background-image: url("./icons/icon-search.png"); }
  .icon--favorite {
    width: 16px;
    height: 16px;
    background-image: url("./icons/icon-favorite.png"); }
    .product__favorite:hover .icon--favorite {
      background-image: url("./icons/icon-favorite--red.png"); }
    .product__add-favorite:hover .icon--favorite {
      background-image: url("./icons/icon-favorite--red.png"); }
  .icon--view-small, .icon--view-big {
    width: 100%;
    height: 100%; }
  .icon--view-small {
    background-image: url("./icons/icon-view--small.png"); }
  .icon--view-big {
    background-image: url("./icons/icon-view--big.png"); }
  .icon--remove {
    cursor: pointer;
    height: 20px;
    width: 20px;
    transition: 0.25s;
    background-image: url("./icons/icon-remove.png"); }
    .icon--remove:hover {
      background-image: url("./icons/icon-remove--red.png"); }

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: #ffffff; }
  .header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #D8D8D8; }
    .header__top .logo a {
      color: #464545;
      font-size: 48px;
      font-family: 'LemonJelly'; }

.content {
  min-height: calc(100vh - 210px);
  background-color: #ffffff; }

.admin-product {
  padding: 20px 30px;
  margin: 0 0 10px 0;
  background-color: grey; }

.admin-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 0 0 0;
  background-color: #F2F4F5; }
  .admin-profile span {
    color: red; }

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  min-height: calc(100vh - 220px);
  background-color: #F2F4F5; }
  .login__inner {
    min-width: 425px;
    height: auto;
    padding: 0 40px 35px 40px;
    background-color: #ffffff; }
  .login__heading {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 75px;
    width: 100%; }
    .login__heading:before {
      position: absolute;
      bottom: 0;
      left: -40px;
      content: '';
      width: calc(100% + 80px);
      height: 1px;
      background-color: #E5E5E5; }
    .login__heading h2 {
      cursor: context-menu;
      color: #000000;
      font-size: 26px;
      font-family: 'HelveticaMedium';
      transition: 0.35s; }
    .login__heading-seperator {
      color: #000000;
      font-size: 26px;
      font-family: 'HelveticaMedium';
      margin: 0 20px; }

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: #e5e5e5; }
  .navigation__list {
    display: flex;
    height: 100%; }
    .navigation__list-item {
      height: 100%;
      margin: 0 20px;
      padding: 0 5px;
      transition: 0.35s;
      border-bottom: 2px solid transparent; }
      .navigation__list-item:hover {
        border-bottom: 2px solid #000000; }
      .navigation__list-item a {
        display: flex;
        align-items: center;
        color: #000000;
        font-size: 12px;
        font-family: 'HelveticaBold';
        line-height: 15px;
        letter-spacing: 1px;
        text-transform: uppercase;
        height: 100%;
        transition: 0.35s; }

.user-panel {
  display: flex;
  align-items: center; }
  .user-panel__item {
    cursor: pointer;
    color: #000000;
    font-size: 12px;
    font-family: 'HelveticaMedium';
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0 10px;
    margin: 0 10px; }

.catalogue {
  width: 100%;
  height: auto;
  margin: 40px 0; }
  .catalogue__heading {
    cursor: context-menu;
    position: relative;
    color: #000000;
    font-size: 42px;
    font-family: 'LemonJelly';
    font-weight: 400;
    user-select: none; }
    .catalogue__heading:before {
      position: absolute;
      top: 50%;
      left: -75px;
      content: '';
      width: 45px;
      height: 1px;
      background-color: #D8D8D8; }
    .catalogue__heading:after {
      position: absolute;
      top: 50%;
      right: -75px;
      content: '';
      width: 45px;
      height: 1px;
      background-color: #D8D8D8; }
  .catalogue__outer {
    width: 100%; }
  .catalogue__inner {
    display: grid;
    grid-gap: 30px 45px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 300px;
    width: 100%;
    height: auto;
    padding: 20px 0 35px 0;
    border-bottom: 1px solid #D8D8D8; }
  .catalogue__load {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 18px 0 16px 0;
    border-bottom: 1px solid #D8D8D8; }
    .catalogue__load-more {
      cursor: pointer;
      font-size: 12px;
      font-family: 'HelveticaMedium';
      line-height: 22px;
      text-transform: uppercase;
      letter-spacing: 1px;
      border-bottom: 1px solid transparent;
      transition: 0.25s; }
      .catalogue__load-more:hover {
        border-bottom: 1px solid #000000; }
  .catalogue__filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 35px 0 0 0; }
    .catalogue__filter--right {
      display: flex;
      align-items: center; }
    .catalogue__filter-search {
      margin: 0 15px 0 0;
      padding: 5px 10px;
      border: 1px solid #f3f3f3; }
    .catalogue__filter-list {
      font-family: 'HelveticaMedium';
      letter-spacing: 3px;
      margin: 0 25px 0 0;
      padding: 3px 10px;
      border: 1px solid #f3f3f3; }
      .catalogue__filter-list:last-child {
        margin: 0; }
    .catalogue__filter-view {
      cursor: pointer;
      display: inline-block;
      width: 17px;
      height: 17px;
      margin: 0 10px 0 0;
      opacity: 0.5; }
      .catalogue__filter-view:last-child {
        margin: 0; }
      .catalogue__filter-view:hover {
        opacity: 1; }
    .catalogue__filter-clear {
      cursor: pointer;
      color: #000000;
      font-family: 'HelveticaMedium';
      padding: 4px 10px;
      background-color: #f3f3f3;
      transition: 0.25s; }
      .catalogue__filter-clear:hover {
        background-color: #dbdbdb; }

.alert {
  color: green;
  font-size: 18px;
  font-family: 'HelveticaMedium';
  text-align: center;
  margin: 0 0 10px;
  width: 100%;
  display: inline-block; }

.product {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: auto;
  background-color: #ffffff; }
  .product--buyed > .cart__row {
    background-color: #ffffff; }
  .product--detailed {
    flex-direction: row;
    padding: 25px 0; }
    .product--detailed .product__column {
      padding: 25px 0 30px 0;
      border-bottom: 1px solid #F3F1EF; }
      .product--detailed .product__column:last-child {
        border: transparent; }
    .product--detailed .product__row {
      justify-content: flex-start;
      margin: 0 0 35px 0; }
      .product--detailed .product__row:last-child {
        margin: 0; }
    .product--detailed .product__image {
      height: 100%; }
    .product--detailed .product__title {
      font-size: 40px;
      font-family: 'HelveticaMedium';
      line-height: 34px;
      margin: 0 0 10px 0; }
    .product--detailed .product__price {
      color: #000000;
      font-size: 28px; }
  .product--left, .product--right {
    width: 50%;
    height: 100%;
    max-height: 550px; }
  .product--left {
    display: flex;
    justify-content: space-between; }
  .product--right {
    display: flex;
    flex-direction: column;
    padding: 40px;
    max-height: 1000px; }
  .product__image {
    position: relative;
    width: 100%;
    height: 240px;
    background-size: cover; }
    .product__image:hover > .product__more {
      opacity: 1;
      box-shadow: 0 2px 20px 0 rgba(0, 36, 100, 0.2); }
    .product__image-view {
      width: 100%;
      height: 100%;
      margin: 0 10px 0 0; }
      .product__image-view--small {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 150px;
        height: 100%; }
        .product__image-view--small img {
          cursor: pointer;
          flex-shrink: 0;
          width: auto;
          height: 33%;
          margin: 0 0 10px 0; }
          .product__image-view--small img:last-child {
            margin: 0; }
    .product__image-expand {
      width: 100%;
      height: 100%; }
    .product__image-small {
      display: flex;
      justify-content: space-between; }
      .product__image-small img {
        width: 100px;
        height: 100px; }
  .product__column {
    user-select: none;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 0 10px 10px 10px; }
  .product__row {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .product__title {
    color: #000000;
    font-size: 16px;
    font-family: 'HelveticaMedium';
    line-height: 22px; }
  .product__favorite {
    cursor: pointer; }
  .product__price {
    color: #8D8D8D;
    font-size: 14px;
    font-family: 'HelveticaMedium';
    line-height: 18px; }
  .product__more {
    opacity: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: 0.35s; }
    .product__more-text {
      cursor: pointer;
      color: #000000;
      font-size: 12px;
      font-family: 'HelveticaBold';
      text-transform: uppercase;
      text-align: center;
      width: 120px;
      margin: 0 0 5px 0;
      padding: 10px 0;
      border: 1px solid transparent;
      background-color: rgba(255, 255, 255, 0.8);
      transition: 0.35s; }
      .product__more-text:hover {
        background-color: white; }
  .product__link {
    display: flex; }
    .product__link-item {
      position: relative;
      color: #9B9B9B;
      font-size: 12px;
      font-family: 'HelveticaMedium';
      letter-spacing: 2px;
      text-transform: uppercase;
      line-height: 15px; }
      .product__link-item:hover {
        color: #646464; }
      .product__link-item:after {
        content: '/';
        margin: 0 15px; }
      .product__link-item:last-child:after {
        display: none; }
  .product__details {
    color: #8D8D8D;
    font-size: 14px;
    line-height: 22px; }
  .product__list {
    display: flex;
    flex-direction: column;
    color: #9B9B9B;
    font-size: 12px;
    font-family: 'HelveticaMedium';
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 50px 0 0; }
    .product__list-select {
      color: #000000;
      font-size: 12px;
      font-family: 'HelveticaMedium';
      text-transform: uppercase;
      letter-spacing: 2px;
      margin: 15px 0 0 0; }
  .product__add {
    display: flex; }
    .product__add-cart {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffffff;
      font-size: 12px;
      font-family: 'HelveticaBold';
      line-height: 15px;
      letter-spacing: 1px;
      width: 260px;
      height: 48px;
      margin: 0 10px 0 0;
      background-color: #998E76; }
    .product__add-favorite {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 48px;
      border: 2px solid #E0DDD6;
      margin: 0 30px 0 0; }
      .product__add-favorite:hover {
        border: 2px solid #998E76; }

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5); }

.popup_inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  height: 80%;
  overflow-y: auto;
  margin: 0;
  background: white; }

.user {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 30px 0;
  background-color: #ffffff; }
  .user .form {
    margin: 0; }
    .user .form__row {
      margin: 0; }
  .user__tabs {
    width: 750px;
    background-color: #F2F4F5; }
    .user__tabs-list {
      display: flex;
      height: 54px;
      padding: 0 15px;
      border-bottom: 1px solid #e0e0e0; }
      .user__tabs-list__tab {
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        color: #000000;
        font-size: 18px;
        font-family: 'HelveticaMedium';
        margin: 0 20px 0 0;
        padding: 0 10px;
        border-bottom: 1px solid transparent;
        transition: 0.35s; }
        .user__tabs-list__tab:hover {
          border-bottom: 1px solid #989898; }
    .user__tabs-panel {
      display: none;
      padding: 20px 30px; }

.react-tabs__tab--selected {
  border-bottom: 1px solid #989898; }

.react-tabs__tab-panel--selected {
  display: block; }

.cart {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: calc(100vh - 220px);
  padding: 50px 15px; }
  .cart__inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1100px; }
  .cart__title {
    color: #000000;
    font-size: 30px;
    font-family: 'HelveticaMedium';
    line-height: 70px;
    margin: 0 0 40px 0; }
  .cart__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 10px 0; }
    .cart__row-history {
      margin: 0 0 10px 0;
      padding: 0 0 10px 0;
      border-bottom: 1px solid #e2e2e2; }
    .cart__row--left {
      width: 100%; }
    .cart__row--right {
      display: flex;
      justify-content: space-between;
      flex-shrink: 0;
      width: 100%;
      max-width: 400px; }
    .cart__row-text {
      color: #8D8D8D;
      font-size: 12px;
      font-family: 'HelveticaMedium';
      line-height: 22px;
      letter-spacing: 2px;
      text-align: center;
      text-transform: uppercase; }
      .cart__row-text--fixed {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25%; }
      .cart__row-text-bold {
        color: #000000;
        font-size: 12px;
        font-family: 'HelveticaMedium';
        margin: 0 0 0 5px; }
      .cart__row-text-big {
        color: #000000;
        font-size: 18px;
        font-family: 'HelveticaMedium'; }
    .cart__row-input {
      display: inline-block;
      width: 50px;
      padding: 5px;
      border: 1px solid #e8e8e8; }
    .cart__row-button {
      cursor: pointer;
      font-size: 16px;
      padding: 5px 15px; }
  .cart__empty {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 100px 0; }
    .cart__empty span {
      color: #e0e0e0;
      font-size: 42px;
      font-family: 'HelveticaBold';
      text-transform: uppercase;
      letter-spacing: 2px; }
  .cart__header, .cart__body, .cart__footer {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #E5E5E5; }
  .cart__header {
    padding: 15px 0 15px 0; }
  .cart__body {
    padding: 20px 0 20px 0; }
    .cart__body-product {
      display: flex;
      align-items: center; }
      .cart__body-product-image {
        width: 80px;
        height: 95px; }
      .cart__body-product-title {
        color: #000000;
        font-size: 20px;
        font-family: 'HelveticaMedium';
        margin: 0 0 0 20px; }
  .cart__footer {
    padding: 30px 0 30px 0; }
    .cart__footer-text {
      display: flex;
      align-items: center;
      justify-content: space-between; }

.profile {
  display: flex;
  justify-content: space-between; }
  .profile--left, .profile--right {
    display: flex;
    flex-direction: column; }
  .profile--left {
    width: 180px;
    height: auto; }
  .profile__avatar {
    width: 100%;
    height: 220px;
    background-color: grey; }
  .profile--right {
    width: calc(100% - 220px);
    height: auto; }
  .profile__info {
    display: flex;
    flex-direction: column; }
    .profile__info-text {
      color: #000000;
      font-size: 14px;
      font-family: 'HelveticaBold';
      margin: 0 0 8px 0; }
      .profile__info-text span {
        font-family: 'HelveticaMedium'; }

.form {
  display: flex;
  flex-direction: column;
  margin: 30px 0 0 0; }
  .form--contact {
    margin: 0; }
  .form .lable {
    display: flex;
    flex-direction: column;
    color: #000000;
    font-size: 12px;
    font-family: 'HelveticaMedium';
    text-transform: uppercase;
    line-height: 22px;
    letter-spacing: 1px;
    width: 100%;
    margin: 0px 0 15px 0; }
    .form .lable--checkbox {
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      text-transform: initial;
      letter-spacing: normal; }
  .form__input {
    width: 100%;
    height: auto;
    padding: 10px 15px;
    border: 1px solid #E5E5E5; }
    .form__input:last-child {
      margin: 0; }
  .form__checkbox {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0 10px 0 0; }
  .form__textarea {
    height: 145px;
    padding: 10px 15px;
    border: 1px solid #E5E5E5; }
  .form__row {
    display: flex;
    justify-content: space-between;
    margin: 15px 0 0 0; }
    .form__row--left, .form__row--right {
      display: flex;
      align-items: center;
      flex: 1; }
    .form__row--left {
      margin: 0 30px 0 0; }
  .form__button {
    cursor: pointer;
    color: #ffffff;
    font-size: 12px;
    font-family: 'HelveticaBold';
    text-transform: uppercase;
    width: 100%;
    height: 44px;
    margin: 25px 0 0 0;
    background-color: #998E76; }

.lable {
  display: flex;
  flex-direction: column;
  color: #000000;
  font-size: 12px;
  font-family: 'HelveticaMedium';
  text-transform: uppercase;
  line-height: 22px;
  letter-spacing: 1px;
  width: 100%;
  margin: 0px 0 15px 0; }
  .lable--checkbox {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    text-transform: initial;
    letter-spacing: normal; }

.accordion {
  display: flex;
  flex-direction: column; }
  .accordion__button {
    cursor: pointer;
    color: #444444;
    font-size: 14px;
    font-family: 'HelveticaMedium';
    text-transform: uppercase;
    text-align: left;
    outline: none;
    border: none;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #F3F1EF;
    background: transparent url("./icons/icon-plus.png") no-repeat top 50% right 10px; }
  .accordion__content {
    overflow: hidden;
    display: none;
    color: #8D8D8D;
    font-size: 14px;
    font-family: 'HelveticaMedium';
    line-height: 22px;
    padding: 0 18px 10px 18px;
    background-color: white; }

.range-slider {
  -webkit-appearance: none;
  width: calc(100% - 200px);
  height: 15px;
  margin: 15px 0 0 0;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s; }
  .range-slider:hover {
    opacity: 1; }
  .range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer; }
  .range-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer; }
  .range-slider__container {
    width: 100%; }
  .range-slider__row {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .range-slider__lable {
    display: flex;
    flex-direction: column;
    color: #000000;
    font-size: 14px;
    font-family: 'HelveticaMedium'; }
  .range-slider__input {
    width: 170px;
    height: 25px;
    margin: 3px 0 0 0; }

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 220px);
  background-color: #F2F4F5; }
  .contact--left, .contact--right {
    width: 50%; }
  .contact--left {
    padding: 0 80px 0 0; }
  .contact__inner {
    width: 100%;
    max-width: 1000px;
    padding: 65px 70px 70px 70px;
    background-color: #ffffff; }
  .contact__container {
    display: flex; }
  .contact__heading {
    position: relative;
    font-size: 48px;
    font-family: 'HelveticaMedium';
    line-height: 70px;
    text-align: center;
    width: 100%;
    margin: 0 0 80px 0; }
    .contact__heading:before {
      position: absolute;
      bottom: -15px;
      left: 50%;
      transform: translate(-50%, 0);
      content: '';
      width: 45px;
      height: 2px;
      background-color: #E5E5E5; }
  .contact__title {
    display: inline-block;
    color: rgba(0, 0, 0, 0.7);
    font-size: 20px;
    font-family: 'HelveticaMedium';
    font-weight: lighter;
    line-height: 35px;
    margin: 0 0 40px 0; }
  .contact__list {
    margin: 0 0 35px 0; }
    .contact__list-title {
      color: #202020;
      font-size: 12px;
      line-height: 22px;
      letter-spacing: 2px;
      font-family: 'HelveticaBold';
      text-transform: uppercase; }
    .contact__list-item {
      color: #8D8D8D;
      font-size: 12px;
      line-height: 22px;
      font-family: 'HelveticaMedium'; }

.footer {
  width: 100%;
  height: 100px;
  background-color: #000000; }

@media only screen and (max-width: 900px) {
  .catalogue__inner {
    grid-template-columns: repeat(3, 1fr); }
  .catalogue__filter-list {
    margin: 0 10px 0 0; }
  .catalogue__filter-search {
    width: 160px;
    margin: 0; }
  .catalogue__filter-view {
    display: none; }
  .user {
    padding: 30px 15px; }
  .contact {
    padding: 50px 15px; }
    .contact--left, .contact--right {
      width: 100%; }
    .contact--left {
      padding: 0; }
    .contact__container {
      flex-direction: column;
      justify-content: center; }
  .product--detailed > .wrapper {
    flex-direction: column; } }

@media only screen and (max-width: 700px) {
  .header .logo {
    margin: 0 0 10px 0; }
  .header__top {
    height: 100px; }
  .header .wrapper {
    flex-direction: column; }
  .user-panel__item {
    padding: 0 5px; }
  .catalogue__inner {
    grid-template-columns: repeat(2, 1fr); }
  .catalogue__filter {
    flex-direction: column; }
    .catalogue__filter--left {
      margin: 0 0 15px 0; }
  .form__row {
    flex-direction: column; }
    .form__row--left {
      margin: 0; }
  .cart__row {
    flex-direction: column-reverse; }
    .cart__row--left {
      display: flex;
      justify-content: center; }
    .cart__row--right {
      margin: 0 0 15px 0; } }

@media only screen and (max-width: 480px) {
  .catalogue__inner {
    grid-template-columns: 1fr; }
  .catalogue__filter--right {
    width: 100%; }
  .catalogue__filter-search {
    width: 100%;
    margin: 0; }
  .contact__inner {
    padding: 25px 20px; }
  .profile {
    flex-direction: column; }
    .profile--left, .profile--right {
      width: 100%; }
    .profile--left {
      margin: 0 0 15px 0; }
  .user__tabs-list {
    overflow-x: scroll; }
    .user__tabs-list__tab {
      font-size: 12px;
      margin: 0 10px 0 0; } }
