.icon{
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    &--shopping-cart{
        width: 18px;
        height: 18px;
        background-image: url('./icons/icon-shopping-cart.png');
    }
    &--search{
        width: 22px;
        height: 20px;
        background-image: url('./icons/icon-search.png');
    }
    &--favorite{
        width: 16px;
        height: 16px;
        background-image: url('./icons/icon-favorite.png');
        .product__favorite:hover &{
            background-image: url('./icons/icon-favorite--red.png');
        }
        .product__add-favorite:hover &{
            background-image: url('./icons/icon-favorite--red.png');
        }
    }
    &--view{
        &-small, &-big{
            width: 100%;
            height: 100%;
        }
        &-small{
            background-image: url('./icons/icon-view--small.png');
        }
        &-big{
            background-image: url('./icons/icon-view--big.png');
        }
    }
    &--remove{
        cursor: pointer;
        height: 20px;
        width: 20px;
        transition: 0.25s;
        background-image: url('./icons/icon-remove.png');
        &:hover{
            background-image: url('./icons/icon-remove--red.png');
        }
    }
}