.accordion{
    display: flex;
    flex-direction: column;
    &__button{
        cursor: pointer;
        color: #444444;
        font-size: 14px;
        font-family: 'HelveticaMedium';
        text-transform: uppercase;
        text-align: left;
        outline: none;
        border: none;
        width: 100%;
        padding: 10px;
        border-bottom: 1px solid #F3F1EF;
        background: transparent url('./icons/icon-plus.png') no-repeat top 50% right 10px;
    }
    &__content{
        overflow: hidden;
        display: none;
        color: #8D8D8D;
        font-size: 14px;
        font-family: 'HelveticaMedium';
        line-height: 22px;
        padding: 0 18px 10px 18px;
        background-color: white;
    }
}