.cart{
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: calc(100vh - 220px);
    padding: 50px 15px;
    &__inner{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        max-width: 1100px;
    }
        &__title{
            color: #000000;
            font-size: 30px;
            font-family: 'HelveticaMedium';
            line-height: 70px;
            margin: 0 0 40px 0;
        }
        &__row{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 0 10px 0;
            &-history{
                margin: 0 0 10px 0;
                padding: 0 0 10px 0;
                border-bottom: 1px solid #e2e2e2;
            }
            &--left{
                width: 100%;
            }
            &--right{
                display: flex;
                justify-content: space-between;
                flex-shrink: 0;
                width: 100%;
                max-width: 400px;
            }
            &-text{
                color: #8D8D8D;
                font-size: 12px;
                font-family: 'HelveticaMedium';
                line-height: 22px;
                letter-spacing: 2px;
                text-align: center;
                text-transform: uppercase;
                &--fixed{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 25%;
                }
                &-bold{
                    color: #000000;
                    font-size: 12px;
                    font-family: 'HelveticaMedium';
                    margin: 0 0 0 5px;
                }
                &-big{
                    color: #000000;
                    font-size: 18px;
                    font-family: 'HelveticaMedium';
                }
            }
            &-input{
                display: inline-block;
                width: 50px;
                padding: 5px;
                border: 1px solid #e8e8e8;
            }
            &-button{
                cursor: pointer;
                font-size: 16px;
                padding: 5px 15px;
            }
        }
        &__empty{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 100px 0;
            & span{
                color: #e0e0e0;
                font-size: 42px;
                font-family: 'HelveticaBold';
                text-transform: uppercase;
                letter-spacing: 2px;
            }
        }
        &__header, &__body, &__footer{
            width: 100%;
            height: auto;
            border-bottom: 1px solid #E5E5E5;
        }
        &__header{
            padding: 15px 0 15px 0;
        }
        &__body{
            padding: 20px 0 20px 0;
            &-product{
                display: flex;
                align-items: center;
                &-image{
                    width: 80px;
                    height: 95px;
                }
                &-title{
                    color: #000000;
                    font-size: 20px;
                    font-family: 'HelveticaMedium';
                    margin: 0 0 0 20px;
                }
            }
        }
        &__footer{
            padding: 30px 0 30px 0;
            &-text{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
}