.catalogue{
    width: 100%;
    height: auto;
    margin: 40px 0;
    &__heading{
        cursor: context-menu;
        position: relative;
        color: #000000;
        font-size: 42px;
        font-family: 'LemonJelly';
        font-weight: 400;
        user-select: none;
        &:before{
            position: absolute;
            top: 50%;
            left: -75px;
            content: '';
            width: 45px;
            height: 1px;
            background-color: #D8D8D8;
        }
        &:after{
            position: absolute;
            top: 50%;
            right: -75px;
            content: '';
            width: 45px;
            height: 1px;
            background-color: #D8D8D8;
        }
    }
    &__outer{
        width: 100%;
    }
    &__inner{
        display: grid;
        grid-gap: 30px 45px;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 300px;
        width: 100%;
        height: auto;
        padding: 20px 0 35px 0;
        border-bottom: 1px solid #D8D8D8;
    }
    &__load{
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
        padding: 18px 0 16px 0;
        border-bottom: 1px solid #D8D8D8;
        &-more{
            cursor: pointer;
            font-size: 12px;
            font-family: 'HelveticaMedium';
            line-height: 22px;
            text-transform: uppercase;
            letter-spacing: 1px;
            border-bottom: 1px solid transparent;
            transition: 0.25s;
            &:hover{
                border-bottom: 1px solid #000000;
            }
        }
    }
    &__filter{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 35px 0 0 0;
        &--right{
            display: flex;
            align-items: center;
        }
        &-search{
            margin: 0 15px 0 0;
            padding: 5px 10px;
            border: 1px solid #f3f3f3;
        }
        &-list{
            font-family: 'HelveticaMedium';
            letter-spacing: 3px;
            margin: 0 25px 0 0;
            padding: 3px 10px;
            border: 1px solid #f3f3f3;
            &:last-child{
                margin: 0;
            }
        }
        &-view{
            cursor: pointer;
            display: inline-block;
            width: 17px;
            height: 17px;
            margin: 0 10px 0 0;
            opacity: 0.5;
            &:last-child{
                margin: 0;
            }
            &:hover{
                opacity: 1;
            }
        }
        &-clear{
            cursor: pointer;
            color: #000000;
            font-family: 'HelveticaMedium';
            padding: 4px 10px;
            background-color: #f3f3f3;
            transition: 0.25s;
            &:hover{
                background-color: #dbdbdb;
            }
        }
    }
}

.alert{
    color: green;
    font-size: 18px;
    font-family: 'HelveticaMedium';
    text-align: center;
    margin: 0 0 10px;
    width: 100%;
    display: inline-block;
}