.content{
    min-height: calc(100vh - 210px);
    background-color: #ffffff;
}

.admin-product{
    padding: 20px 30px;
    margin: 0 0 10px 0;
    background-color: grey;
}
.admin-profile{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 0 0 0;
    background-color: #F2F4F5;
    & span{
        color: red;
    }
}