.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px 0;
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 220px);
    background-color: #F2F4F5;
    &--left, &--right{
        width: 50%;
    }
    &--left{
        padding: 0 80px 0 0;
    }
    &__inner{
        width: 100%;
        max-width: 1000px;
        padding: 65px 70px 70px 70px;
        background-color: #ffffff;
    }
        &__container{
            display: flex;
        }
        &__heading{
            position: relative;
            font-size: 48px;
            font-family: 'HelveticaMedium';
            line-height: 70px;
            text-align: center;
            width: 100%;
            margin: 0 0 80px 0;
            &:before{
                position: absolute;
                bottom: -15px;
                left: 50%;
                transform: translate(-50%, 0);
                content: '';
                width: 45px;
                height: 2px;
                background-color: #E5E5E5;
            }
        }
        &__title{
            display: inline-block;
            color: rgba($color: #000000, $alpha: 0.7);
            font-size: 20px;
            font-family: 'HelveticaMedium';
            font-weight: lighter;
            line-height: 35px;
            margin: 0 0 40px 0;
        }
        &__list{
            margin: 0 0 35px 0;
            &-title{
                color: #202020;
                font-size: 12px;
                line-height: 22px;
                letter-spacing: 2px;
                font-family: 'HelveticaBold';
                text-transform: uppercase;
            }
            &-item{
                color: #8D8D8D;
                font-size: 12px;
                line-height: 22px;
                font-family: 'HelveticaMedium';
            }
        }
}