.form{
    display: flex;
    flex-direction: column;
    margin: 30px 0 0 0;
    &--contact{
        margin: 0;
    }
    & .lable{
        display: flex;
        flex-direction: column;
        color: #000000;
        font-size: 12px;
        font-family: 'HelveticaMedium';
        text-transform: uppercase;
        line-height: 22px;
        letter-spacing: 1px;
        width: 100%;
        margin: 0px 0 15px 0;
        &--checkbox{
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            text-transform: initial;
            letter-spacing: normal;
        }
    }
    &__input{
        width: 100%;
        height: auto;
        padding: 10px 15px;
        border: 1px solid #E5E5E5;
        &:last-child{
            margin: 0;
        }
    }
    &__checkbox{
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0 10px 0 0;
    }
    &__textarea{
        height: 145px;
        padding: 10px 15px;
        border: 1px solid #E5E5E5;
    }
    &__row{
        display: flex;
        justify-content: space-between;
        margin: 15px 0 0 0;
        &--left, &--right{
            display: flex;
            align-items: center;
            flex: 1;
        }
        &--left{
            margin: 0 30px 0 0;
        }
    }
    &__button{
        cursor: pointer;
        color: #ffffff;
        font-size: 12px;
        font-family: 'HelveticaBold';
        text-transform: uppercase;
        width: 100%;
        height: 44px;
        margin: 25px 0 0 0;
        background-color: #998E76;
    }
}

.lable{
    display: flex;
    flex-direction: column;
    color: #000000;
    font-size: 12px;
    font-family: 'HelveticaMedium';
    text-transform: uppercase;
    line-height: 22px;
    letter-spacing: 1px;
    width: 100%;
    margin: 0px 0 15px 0;
    &--checkbox{
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        text-transform: initial;
        letter-spacing: normal;
    }
}