.header{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    &__top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 70px;
        border-bottom: 1px solid #D8D8D8;
        & .logo a{
            color: #464545;
            font-size: 48px;
            font-family: 'LemonJelly';
        }
    }
}