.login{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    min-height: calc(100vh - 220px);
    background-color: #F2F4F5;
    &__inner{
        min-width: 425px;
        height: auto;
        padding: 0 40px 35px 40px;
        background-color: #ffffff;
    }
    &__heading{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 75px;
        width: 100%;
        &:before{
            position: absolute;
            bottom: 0;
            left: -40px;
            content: '';
            width: calc(100% + 80px);
            height: 1px;
            background-color: #E5E5E5;
        }
        & h2{
            cursor: context-menu;
            color: #000000;
            font-size: 26px;
            font-family: 'HelveticaMedium';
            transition: 0.35s;
        }
        &-seperator{
            color: #000000;
            font-size: 26px;
            font-family: 'HelveticaMedium';
            margin: 0 20px;
        }
    }
}