.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #e5e5e5;
    &__list{
        display: flex;
        height: 100%;
        &-item{
            height: 100%;
            margin: 0 20px;
            padding: 0 5px;
            transition: 0.35s;
            border-bottom: 2px solid transparent;
            &:hover{
                border-bottom: 2px solid #000000;
            }
            & a{
                display: flex;
                align-items: center;
                color: #000000;
                font-size: 12px;
                font-family: 'HelveticaBold';
                line-height: 15px;
                letter-spacing: 1px;
                text-transform: uppercase;
                height: 100%;
                transition: 0.35s;
            }
        }
    }
}