.product{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    &--buyed{
        & > .cart__row{
            background-color: #ffffff;
        }
    }
    &--detailed{
        flex-direction: row;
        padding: 25px 0;
        .product__column{
            padding: 25px 0 30px 0;
            border-bottom: 1px solid #F3F1EF;
            &:last-child{
                border: transparent;
            }
        }
        .product__row{
            justify-content: flex-start;
            margin: 0 0 35px 0;
            &:last-child{
                margin: 0;
            }
        }
        .product__image{
            height: 100%;
        }
        .product__title{
            font-size: 40px;
            font-family: 'HelveticaMedium';
            line-height: 34px;
            margin: 0 0 10px 0;
        }
        .product__price{
            color: #000000;
            font-size: 28px;
        }
    }
        &--left, &--right{
            width: 50%;
            height: 100%;
            max-height: 550px;
        }
        &--left{
            display: flex;
            justify-content: space-between;
        }
        &--right{
            display: flex;
            flex-direction: column;
            padding: 40px;
            max-height: 1000px;
        }
    &__image{
        position: relative;
        width: 100%;
        height: 240px;
        background-size: cover;
        &:hover > .product__more{
            opacity: 1;
            box-shadow: 0 2px 20px 0 rgba(0, 36, 100, 0.2);
        }
        &-view{
            width: 100%;
            height: 100%;
            margin: 0 10px 0 0;
            &--small{
                overflow: hidden;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 150px;
                height: 100%;
                & img{
                    cursor: pointer;
                    flex-shrink: 0;
                    width: auto;
                    height: 33%;
                    margin: 0 0 10px 0;
                    &:last-child{
                        margin: 0;
                    }
                }
            }
        }
        &-expand{
            width: 100%;
            height: 100%;
        }
        &-small{
            display: flex;
            justify-content: space-between;
            & img{
                width: 100px;
                height: 100px;
            }
        }
    }
    &__column{
        user-select: none;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        padding: 0 10px 10px 10px;
    }
    &__row{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
        &__title{
            color: #000000;
            font-size: 16px;
            font-family: 'HelveticaMedium';
            line-height: 22px;
        }
        &__favorite{
            cursor: pointer;
        }
        &__price{
            color: #8D8D8D;
            font-size: 14px;
            font-family: 'HelveticaMedium';
            line-height: 18px;
        }
    &__more{
        opacity: 0;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        top: 0;
        left: 0;
        z-index: 1000;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.2);
        transition: 0.35s;
        &-text{
            cursor: pointer;
            color: #000000;
            font-size: 12px;
            font-family: 'HelveticaBold';
            text-transform: uppercase;
            text-align: center;
            width: 120px;
            margin: 0 0 5px 0;
            padding: 10px 0;
            border: 1px solid transparent;
            background-color: rgba($color: #ffffff, $alpha: 0.8);
            transition: 0.35s;
            &:hover{
                background-color: rgba($color: #ffffff, $alpha: 1);
            }
        }
    }
    &__link{
        display: flex;
        &-item{
            position: relative;
            color: #9B9B9B;
            font-size: 12px;
            font-family: 'HelveticaMedium';
            letter-spacing: 2px;
            text-transform: uppercase;
            line-height: 15px;
            &:hover{
                color: #646464
            }
            &:after{
                content: '/';
                margin: 0 15px;
            }
            &:last-child:after{
                display: none;
            }
        }
    }
    &__details{
        color: #8D8D8D;
        font-size: 14px;
        line-height: 22px;
    }
    &__list{
        display: flex;
        flex-direction: column;
        color: #9B9B9B;
        font-size: 12px;
        font-family: 'HelveticaMedium';
        text-transform: uppercase;
        letter-spacing: 2px;
        margin: 0 50px 0 0;
        &-select{
            color: #000000;
            font-size: 12px;
            font-family: 'HelveticaMedium';
            text-transform: uppercase;
            letter-spacing: 2px;
            margin: 15px 0 0 0;
        }
    }
    &__add{
        display: flex;
        &-cart{
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ffffff;
            font-size: 12px;
            font-family: 'HelveticaBold';
            line-height: 15px;
            letter-spacing: 1px;
            width: 260px;
            height: 48px;
            margin: 0 10px 0 0;
            background-color: #998E76;
        }
        &-favorite{
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 48px;
            height: 48px;
            border: 2px solid #E0DDD6;
            margin: 0 30px 0 0;
            &:hover{
                border: 2px solid #998E76;
            }
        }
    }
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
}
.popup_inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    height: 80%;
    overflow-y: auto;
    margin: 0;
    background: white;
}