.profile{
    display: flex;
    justify-content: space-between;
    &--left, &--right{
        display: flex;
        flex-direction: column;
    }
    &--left{
        width: 180px;
        height: auto;
    }
        &__avatar{
            width: 100%;
            height: 220px;
            background-color: grey;
        }
    &--right{
        width: calc(100% - 220px);
        height: auto;
    }
        &__info{
            display: flex;
            flex-direction: column;
            &-text{
                color: #000000;
                font-size: 14px;
                font-family: 'HelveticaBold';
                margin: 0 0 8px 0;
                & span{
                    font-family: 'HelveticaMedium';
                }
            }
        }
}