.range-slider {
    -webkit-appearance: none;
    width: calc(100% - 200px);
    height: 15px;
    margin: 15px 0 0 0;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    &:hover {
        opacity: 1;
    }
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #4CAF50;
        cursor: pointer;
    }
    &::-moz-range-thumb{
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #4CAF50;
        cursor: pointer;
    }
    &__container{
        width: 100%;
    }
    &__row{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
        &__lable{
            display: flex;
            flex-direction: column;
            color: #000000;
            font-size: 14px;
            font-family: 'HelveticaMedium';
        }
            &__input{
                width: 170px;
                height: 25px;
                margin: 3px 0 0 0;
            }
}