.user{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 30px 0;
    background-color: #ffffff;
    & .form{
        margin: 0;
        &__row{
            margin: 0;
        }
    }
    &__tabs{
        width: 750px;
        background-color: #F2F4F5;
        &-list{
            display: flex;
            height: 54px;
            padding: 0 15px;
            border-bottom: 1px solid #e0e0e0;
            &__tab{
                cursor: pointer;
                display: inline-flex;
                align-items: center;
                color: #000000;
                font-size: 18px;
                font-family: 'HelveticaMedium';
                margin: 0 20px 0 0;
                padding: 0 10px;
                border-bottom: 1px solid transparent;
                transition: 0.35s;
                &:hover{
                    border-bottom: 1px solid #989898;
                }
            }
        }
        &-panel{
            display: none;
            padding: 20px 30px;
        }
    }
}

.react-tabs__tab--selected{
    border-bottom: 1px solid #989898;
}
.react-tabs__tab-panel--selected{
    display: block;
}