.user-panel{
    display: flex;
    align-items: center;
    &__item{
        cursor: pointer;
        color: #000000;
        font-size: 12px;
        font-family: 'HelveticaMedium';
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 0 10px;
        margin: 0 10px;
    }
}